In [4]:
import pandas as pd
import numpy as np
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])

In [5]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [7]:
data.rename(columns=str.upper)

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [8]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)

In [9]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [10]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [11]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [14]:
df = pd.DataFrame(np.arange(5*4).reshape((5,4)))
sampler = np.random.permutation(5)
sampler

array([2, 4, 1, 0, 3])

In [15]:
df.take(sampler)

    0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7
0   0   1   2   3
3  12  13  14  15

In [16]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [19]:
studentdf = [{
    "Name" : "Baqar",
    "Course" : "AI",
    "Age" : 21
},
{
    "Name" : "Ali",
    "Course" : "AI",
    "Age": 18
},
{
    "Name" : "Ahmed",
    "Course" : "AI",
    "Age": 25
},
{
    "Name" : "Asim",
    "Course" : "AI",
    "Age": 30
}
]

In [21]:
pd.get_dummies(studentdf['course'])

TypeError: list indices must be integers or slices, not str

In [28]:
import re
email = 'baqarali789@gmail.com, ahmed.aahoo.com, inamali, basit#.com'
pattern = r'[A-Z0-9._%=-]+@[A-Z0-9.-]+\.[A-z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [29]:
regex.findall(email)

['baqarali789@gmail.com']