In [4]:
import numpy as np
a = np.random.randn(2,3)
a

array([[-0.82742252, -1.02632112,  0.91492692],
       [ 1.11570208,  0.10241369,  1.29463409]])

In [5]:
a = a*10

In [6]:
a

array([[ -8.27422516, -10.26321119,   9.14926919],
       [ 11.15702085,   1.02413691,  12.94634092]])

In [8]:
a.shape

(2, 3)

In [9]:
data = [1,2,3,4,5]
a = np.array(data)

In [10]:
a

array([1, 2, 3, 4, 5])

In [11]:
data2 = [[2,3,4,5], [3,4,5,6,]]
b = np.array(data2)
b

array([[2, 3, 4, 5],
       [3, 4, 5, 6]])

In [12]:
b.ndim

2

In [19]:
arr = np.arange(8)
arr

array([0, 1, 2, 3, 4, 5, 6, 7])

In [20]:
arr.reshape(2,2,2)

array([[[0, 1],
        [2, 3]],

       [[4, 5],
        [6, 7]]])

ValueError: cannot reshape array of size 2000 into shape (10,10)

In [26]:
newarr = np.arange(16)
newarr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [36]:
newarr = newarr.reshape(4,2,2)
newarr

array([[[ 0,  1],
        [ 2,  3]],

       [[ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15]]])

In [35]:
newarr[1:3]

array([[[ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11]]])

In [42]:
newarr[2:3,0:1]

array([[[8, 9]]])

In [39]:
newarr[0,1:2]

array([[2, 3]])

In [45]:
newarr[2:3, 0:1]

array([[[8, 9]]])

In [46]:
newarr[2:3, 0:1, 1:2]

array([[[9]]])

In [47]:
import pandas as pd
data = [1,2,3,4,5,6,7]
i = pd.Series(data)

In [48]:
i

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [49]:
Index =['a', 'b', 'c', 'd', 'e', 'f', 'g']
i = pd.Series(data,Index)

In [50]:
i

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [51]:
dictionary ={'a':1, 'b':2, 'c':3, 'd':4, 'e':5}  
pd.Series(dictionary)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [52]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])

In [53]:
df

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9